name: linux

on:
  - push

jobs:
  perl:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        perl-version:
          - '5.12'
          - '5.14'
          - '5.16'
          - '5.18'
          - '5.20'
          - '5.22'
          - '5.24'
          - '5.26'
          - '5.28'
          - '5.30'
          - '5.32'
          - '5.34'
    container:
      image: perl:${{ matrix.perl-version }}
      env:
        TEST_CLEAN: 1
    steps:
      - uses: actions/checkout@v1
      - name: perl -V
        run: perl -V
      - name: Install Dependencies
        run: |
          curl -sL https://cpanmin.us/ | perl - App::cpanminus && \
          cpanm -nq --dev Menlo && \
          cpanm -nq --with-develop --installdeps .
      - name: Run Tests
        run: prove -lr xt
